@model IEnumerable<DoacoesModel>
    
<div class="container">
    <div class="d-flex justify-content-between align-itens-center mb-5">
        <h1>Estoque de doações</h1>
        <a class="btn btn-success mx-2" asp-controller="Estoque" asp-action="Cadastrar">Adicionar Doação</a> 
    </div>
    
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Status</th>
                <th scope="col">Data recebido</th>
            </tr>
        </thead>
        <tbody>

            @if(Model != null)
            {
                @foreach(var doacao in Model)
                {
                    <tr>
                        <th scope="row">@doacao.NomeDoItem</th>
                        <td>@doacao.Quantidade</td>
                        <td>@doacao.Entrege</td>
                        <td>@doacao.HorarioDoacao</td>
                       <td>
                            <a asp-action="Enviar" asp-controller="Estoque" asp-route-id="@doacao.Id" class="btn btn-success">Enviar</a>
                            <a asp-action="Editar" asp-controller="Estoque" asp-route-id="@doacao.Id" class="btn btn-warning">Editar</a>
                            <a asp-action="Excluir" asp-controller="Estoque" asp-route-id="@doacao.Id" class="btn btn-danger">Excluir</a>
                       </td>
                    </tr>
                    
                }
            }
        </tbody>
    </table>
</div>